
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

/* Hero Image boxes */
.hero-image {
  display: flex;
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background: limegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}