body{
   background-color: lightpink;
    height: 100vh;
    width: 100vw;
}
*{ padding: 0;
    margin: 0;
    border-box: border-box;

} 

.container{
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    border: 2px solid red;
    height: 20vh;
    width: 20vw;

}